.container{
  padding:120px 80px;
  background:#f9fafb;
  min-height:100vh;
}

.heading{
  text-align:center;
  margin-bottom:40px;
  font-size:28px;
  color:#be123c;
}

.empty{
  text-align:center;
  font-size:18px;
  color:gray;
}

.grid{
  display:flex;
  flex-direction:column;
  gap:30px;
  max-width:900px;
  margin:auto;
}

.card{
  background:white;
  border-radius:15px;
  padding:25px;
  box-shadow:0 10px 25px rgba(0,0,0,0.05);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.top{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.orderId{
  font-weight:600;
  font-size:14px;
}

.date{
  font-size:12px;
  color:gray;
}

.status{
  background:#16a34a;
  color:white;
  padding:6px 14px;
  border-radius:20px;
  font-size:12px;
}

.items{
  margin-top:20px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.item{
  display:flex;
  gap:20px;
  align-items:center;
  background:#f3f4f6;
  padding:12px;
  border-radius:10px;
}

.item img{
  width:70px;
  height:70px;
  object-fit:cover;
  border-radius:8px;
}

.info h4{
  margin-bottom:5px;
  font-size:15px;
}

.bottom{
  margin-top:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.bottom h3{
  color:#be123c;
}

.removeBtn{
  padding:8px 16px;
  background:#ef4444;
  border:none;
  color:white;
  border-radius:8px;
  cursor:pointer;
  transition:0.3s;
}

.removeBtn:hover{
  background:black;
}
